$border-radius: 12px;
$border-radius-big: 20px;
$gutter: 30px;

$font-size-small: 12px;
$font-size-normal: 14px; // p
$font-size-medium: 22px; // h2
$font-size-large: 28px; // h1
$font-size-big: 40px;

$bookmark-width: 70px;
