// Espacement du texte qui scroll dans le header
$InfiniteSlidingText-gap: 0.5rem;

$border-radius: 12px;
$gutter: 30px;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-medium: 28px;
$font-size-big: 40px;
