$landscape: "screen and (orientation: landscape)";
$portrait: "screen and (orientation: portrait)";
$low-accuracy: "(pointer: coarse)";

$mobile-xs: "screen and (max-width: 480px)";
$mobile: "screen and (min-width: 481px) and (max-width: 768px)";
$mobile-down: "screen and (max-width: 768px)";

$tablet: "screen and (min-width: 769px) and (max-width: 1024px)";
$desktop: "screen and (min-width: 1025px)";

$desktop-down: "screen and (max-width: 1025px)";
