// Padding global inline
$padding-left: 110px;
$padding-right: 110px;

$padding-left-md: 60px;
$padding-right-md: 60px;

$padding-left-s: 30px;
$padding-right-s: 30px;

$padding-top: 135px;

$fixed-padding-top: 35px;

// Hero
$hero-padding-bottom: 80px;
$hero-padding-bottom-md: 60px;
$hero-padding-bottom-s: 150px;

// Padding footer
$footer-padding-inline: 115px;
$footer-padding-inline-s: 30px;
$footer-padding-block-s: 25px;
$footer-padding-bottom: 40px;

// Border radius
$border-radius: 55px;
$border-radius-s: 32px;

// Carte
$card-box-shadow: 0px 4px 0 rgba(0, 0, 0, 0.15);
$hero-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

// Z-Index
$z-index-top-layer: 999;
$z-index-mid-layer: 666;

// Progress bar
$progress-bar-height: 5px;

// Navigation
$nav-btn-width: 190px;
$nav-btn-width-md: 150px;
$nav-btn-width-s: 140px;

$nav-btn-height: 70px;
$nav-btn-height-md: 60px;
$nav-btn-height-s: 55px;
