@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope-VariableFont_wght.ttf");
  font-display: swap;
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid red;
}

button,
div[role="button"] {
  cursor: pointer;
  & > * {
    pointer-events: none;
  }
}

h1 {
  @include font("h1");
}
h2 {
  @include font("h2");
}
h3 {
  @include font("h3");
}
h4 {
  @include font("h4");
}
p {
  @include font("p");
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desktop-only {
  @media #{$desktop-down} {
    display: none;
  }
}
